/* Tab View */
@media screen and (max-width: 1024px) and (min-width: 688px) {
  /* ------------------------------------ */
  /* Header Part */
  /* ------------------------------------ */
  .container-1 {
    display: flex;
    margin: 50px 20px 0px;
  }

  /* ------------------------------------ */
  /* Main Body-Grid Part */
  /* ------------------------------------ */
  .container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  .tournament-infos {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: max-content;
    height: max-content;
  }
  .tournament-info {
    padding: 0;
    margin: 0 10%;
  }
  .tournament-info p {
    border: 1px solid grey;
  }
  .tournament-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    justify-items: center;
  }
  .tournament-detail {
    width: 430px;
  }
  #team-team {
    margin: 0;
    width: 430px;
  }
  #match-date-time {
    text-align: center;
    margin: 0;
    padding: 0 30%;
  }
  .hidden-box {
    display: block;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .hidden-box a {
    font-size: large;
    padding: 20px 60px;
  }
  /* ------------------------------------ */
  /* Footer Part */
  /* ------------------------------------ */
  .footer-options {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10%;
  }
  .footer-icons {
    margin: 5% 40% 0;
    display: flex;
    justify-content: space-evenly;
  }
}
/* COMPLETED */
